{{>modal}}
<div class="d-flex justify-content-center mx-3 mx-sm-5">
    <div class="container row d-flex align-items-center justify-content-center">
        <h1 class="d-inline text-center m-5" width="100%">Um pouco sobre nós</h1>
        <div>
            <h4 class="justify-self-start mb-3">O que é</h4>
            <p class="text-justify">Good to Recycle é um empresa criada em Setúbal por 6 jovens a concluir o CestP de Programação Web, Dispositivos e Aplicações Móveis, cujo objetivo é conseguir reciclar tampas, rolhas, pilhas e caricas para que se possam vir futuramente vir a ser trocadas por equipamentos de informática, ou vendido para que com o dinheiro se possa comprar equipamentos melhores.</p>
        </div>
        <!-- Background image parallax -->
        <div class="jarallax bg-dark py-7 col-12 m-5" data-jarallax data-speed="0.3">
        <span class="bg-overlay" style="opacity: .35;"></span>
        <div class="jarallax-img" style="background-image: url(images/parallax/bg.jpg);"></div>
            <div class="container bg-overlay-content py-5 py-sm-7 text-center">
                <h2 class="h1 text-light mb-0">Good To Recycle</h2>
            </div>
        </div>
        <div>
        <h4 class="justify-self-start mb-3">Objetivo da Empresa</h4>
        <p class="text-justify">O objetivo da empresa é conseguir chegar esta ideia a nível continental, para que muitos municípios, empresas e supermercados possam ter a sua caixa GTR. A empresa irá empregar jovens estudantes, para que estes possam ter o seu primeiro contacto com o mercado e adquirir novas experiências.
        Quanto maior a dimensão da empresa mais postos de trabalho conseguiremos criar para jovens estudantes como nós, para conseguirmos todos ter uma ponte de lançamento para o futuro!</p>
        <h4 class="justify-self-start mb-3">Como Funciona para aderir ao Good To Recycle?</h4>
        <p class="text-justify">Caso seja um cliente, basta procurar nos mapas que se encontram no website o local mais proximo onde se encontram os caixotes Good To Recycle. Antes de mais um grande obrigado a todos que aderiram ao projeto e contribuiram para o futuro da nossa empresa!</p>
        <p class="text-justify">Caso seja um fornecedor e pretenda possuir contentores Good To Recycle na sua empresa ou comprar os nosso produtos, por favor envie-nos um mensagem na aba "Contacte-nos", estamos abertos a qualquer tipo de proposta e empresas, um grande obrigado a todos que colaboram com o nosso projeto!</p>
        </div>
    </div>
</div>
