<section class="container my-5" style="height: fit-content; min-height: 85vh; overflow-y: scroll;" >
    {{#if user}}
    <h1 class="m-3">Agregar Tipo Box</h1>
    <div class="row container">
        <div class="col-12 col-sm-6">
            <form action="/box/type/{{user.id}}" method="post">
                <div class="form-group">
                    <label for="type-input">Tipo</label>
                    <input class="form-control" type="text" name="type" id="type-input" placeholder="The Type Name Here.." required>
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
        <div class="my-5 col-12 col-sm-6 d-flex justify-content-center align-content-center flex-column">
            <h4>Tipo</h4>
            <p>É o tipo de box</p>
        </div>
    </div>
    {{else}}
        <h1>User Not Exits</h1>
    {{/if}}
</section>