{{>modal}}
<div class="d-flex justify-content-center mx-sm-5 mx-md-1">
    <div class="container row d-flex align-items-center justify-content-center">
        <div class="jarallax bg-dark py-7 col-12 m-5" data-jarallax data-speed="0.3">
        <span class="bg-overlay" style="opacity: .35;"></span>
        <div class="jarallax-img" style="background-image: url(images/parallax/bg.jpg);"></div>
            <div class="container bg-overlay-content py-5 py-sm-7 text-center">
                <h2 class="h1 text-light mb-0">Good To Recycle</h2>
            </div>
        </div>
        <h1 class="d-inline text-center m-5" width="100%">Contact us</h1>
        <div class="col-12 col-sm-10 my-5">
            <form action="" method="post">
                <div class="form-group">
                    <label for="name-input">Name</label>
                    <input class="form-control" type="text" name="name-input" id="name-input" placeholder="Your Name here..">
                </div>
                <div class="form-group">
                    <label for="subject-input">Subject</label>
                    <input class="form-control" type="text" name="subject-input" id="subject-input" placeholder="Your Subject Here..">
                </div>
                <div class="form-group">
                    <label for="message-input">Message</label>
                    <textarea class="form-control" name="message-input" id="message-input" rows="5" placeholder="Your Message Here.."></textarea>
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
        <div class="row d-flex justify-content-around align-items-center mb-5">
            <div class="col-12 col-sm-4 card border-0 box-shadow p-0">
                <img src="images/parallax/bg.jpg" class="card-img-top" alt="Lisboa">
                <div class="card-body">
                    <h5>Lisboa, UE</h5>
                    <ul class="list-unstyled mb-0">
                    <li class="media pb-3 border-bottom">
                        <i class="fe-map-pin font-size-lg mt-2 mb-0 text-primary"></i>
                        <div class="media-body pl-3">
                        <span class="font-size-ms text-muted">Find us</span>
                        <a href="#" class="d-block nav-link-style font-size-sm">769, Industrial Dr, West Chicago, IL 60185, USA</a>
                        </div>
                    </li>
                    <li class="media pt-2 pb-3 border-bottom">
                        <i class="fe-phone font-size-lg mt-2 mb-0 text-primary"></i>
                        <div class="media-body pl-3">
                        <span class="font-size-ms text-muted">Call us</span>
                        <a href="tel:+1212477690000" class="d-block nav-link-style font-size-sm">+1 (212) 477 690 000</a>
                        </div>
                    </li>
                    <li class="media pt-2m">
                        <i class="fe-mail font-size-lg mt-2 mb-0 text-primary"></i>
                        <div class="media-body pl-3">
                        <span class="font-size-ms text-muted">Write us</span>
                        <a href="newyork:email@example.com" class="d-block nav-link-style font-size-sm">newyork@example.com</a>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-4 card border-0 box-shadow" style="height: 250px;">
                <div class="card-body text-center">
                    <i class="fe-phone h2 mt-2 mb-4 text-primary"></i>
                    <h3 class="h6 mb-3">Phone numbers</h3>
                    <ul class="list-unstyled font-size-sm mb-0">
                    <li>
                        <span class="mr-1">Customer service:</span>
                        <a class="nav-link-style" href="tel:+108044357260">+1 (080) 44 357 260</a>
                    </li>
                    <li>
                        <span class="mr-1">Tech support:</span>
                        <a class="nav-link-style" href="tel:+100331697720">+1 00 33 169 7720</a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
</div>
