<section class="container my-5" style="height: fit-content; min-height: 85vh; overflow-y: scroll;">
    <h1 class="m-3">Agregar Trabalhador</h1>
    <div class="row container">
        <div class="col-12 col-sm-6">
            <form action="/worker" method="post">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input class="form-control" type="text" name="name" id="name-input" placeholder="The Name Here.." required>
                </div>
                <div class="form-group">
                    <label for="lastName">Apelido</label>
                    <input class="form-control" type="text" name="lastName" id="lastName-input" placeholder="The Last Name Here.." required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" id="email-input" placeholder="The Email Here.." required>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input class="form-control" type="text" name="password" id="password-input" placeholder="The Password Here.." required>
                </div>
                <div class="form-group">
                    <label for="company">Organização</label>
                    <input class="form-control" type="text" name="company" id="company-input" placeholder="The Organization Here.." required>
                </div>
                <button class="btn btn-success" type="submit">Agregar</button>
            </form>
        </div>
        <div class="my-5 col-12 col-sm-6 d-flex justify-content-center align-content-center flex-column">
            <h4>Nome, Apelido, Email e Senha</h4>
            <p>É o nome, apelido, email e senha da peso responsavel na organização pela parceria com a Good To Recycle</p>
            <h4>Organização</h4>
            <p>É o nome da organização parceira</p>
        </div>
    </div>
</section>