{{>modalChat}}
<section class="container my-5" style="height: fit-content; min-height: 85vh; overflow: hidden;" id="section-suport">
    <h1 class="m-3">Support</h1>
    <div class="row mx-auto container d-flex justify-content-center" style="height: 75%;">
        <div class="col-sm-6" style="height: 100%;">
            <div class="list-group" style="height: 100%; overflow-y: scroll;" id="list-group-untaked-messages">
                
            </div>
        </div>
        <div class="col-sm-6" style="height: 100%;">
            <div class="list-group" style="height: 100%; overflow-y: scroll;" id="list-group-taked-messages">
                
            </div>
            {{!-- <img src="images/support/noMessages.svg" alt="No message Image" styles="width: 80%;">
            <h3>Não tem conversas activas, obtenha alguma do painel esquerdo!</h3> --}}
        </div>
    </div>
</section>