    <!-- Footer-->
    <footer class="cs-footer bg-dark pt-5 pb-4">
      <div class="container pb-2 text-center text-md-left">
        <div class="row pt-md-2 pb-3">
          <a class="navbar-brand order-lg-1 mr-0 pr-lg-2 mr-lg-4" href="/">
            <i class="fe-box text-success" style="font-size: 22px;"></i>
          </a>
          </div>
          <div class="col-md-5 pt-2 pb-4">
            <div class="cs-widget cs-widget-light">
              <h4 class="cs-widget-title mb-3">Support</h4>
              <div class="d-lg-flex">
                <ul class="mr-lg-5">
                  <li><a class="cs-widget-link" href="mailto:info@goodtorecycle.com"><i class="fe-mail font-size-lg mr-2"></i>info@goodtorecycle.com</a></li>
                </ul>
                <ul>
                  <li><a class="cs-widget-link" href="#"><i class="fe-phone font-size-lg mr-2"></i>444-555-666</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 pt-2 pb-4">
            <div class="cs-widget cs-widget-light">
              <h4 class="cs-widget-title mb-3">Follow</h4><a class="social-btn sb-outline sb-light sb-facebook sb-lg mr-2 mb-2" href="#"><i class="fe-facebook"></i></a><a class="social-btn sb-outline sb-light sb-twitter sb-lg mr-2 mb-2" href="#"><i class="fe-twitter"></i></a><a class="social-btn sb-outline sb-light sb-instagram sb-lg mr-2 mb-2" href="#"><i class="fe-instagram"></i></a><a class="social-btn sb-outline sb-light sb-google sb-lg mb-2" href="#"><i class="fe-google"></i></a>
            </div>
          </div>
        </div>
        <p class="font-size-sm text-center mb-0"><span class="text-light opacity-50">© All rights reserved. Made by </span><a class="nav-link-style nav-link-light" href="https://github.com/juliodaal" target="_blank" rel="noopener">Julio Sousa</a></p>
      </div>
    </footer>
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i class="btn-scroll-top-icon fe-arrow-up">   </i></a>