<header class="navbar navbar-expand-lg navbar-light bg-light navbar-box-shadow">
  <div class="container px-0 px-xl-3">
    <a class="navbar-brand order-lg-1 mr-0 pr-lg-2 mr-lg-4" href="/">
      <i class="fe-box text-success" style="font-size: 22px;"></i>
    </a>
    <div class="d-flex align-items-center order-lg-3">
      <button class="btn-transparent ml-3 dis-menu" id="button-menu" style="font-size: 22px;"><i class="fe-menu"></i></button>
      {{#if user}}
        <div class="navbar-tool dropdown">
          <a class="navbar-tool-icon-box" href="#">
            <img class="navbar-tool-icon-box-img" src="/images/user/user.png" alt="Avatar"/>
          </a>
          <a class="navbar-tool-label dropdown-toggle" href="#"><small>Olá,</small>{{currentUser.nome}}</a>
          <ul class="dropdown-menu dropdown-menu-right" style="width: 15rem;">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile">
                <i class="fe-user font-size-base opacity-60 mr-2"></i>
                Profile
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="fe-log-out font-size-base opacity-60 mr-2"></i>
                Sign out
              </a>
            </li>
          </ul>
        </div>
      {{else}}
          <button class="btn btn-success d-inline-block ml-3" id="button-signin">Sign in</button>
      {{/if}}
    </div>
    <div class="collapse navbar-collapse order-lg-2" id="navbarCollapse3">
        <div class="collapse navbar-collapse order-lg-2" id="navbarCollapse1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/about">Sobre Nós</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contacte-nos</a></li>
                {{#if user}}
                  <li class="nav-item"><a class="nav-link" href="/dashboard">Dasboard</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
  </div>
</header>
